body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@media (min-width: 500px) {
    #wish-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .card {
        background: #f2f2f2;
        padding: 20px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        margin: 20px;
    }

    .card img {
        max-width: 300px;
        border-radius: 25px;
        padding: 10px;
    }

    .card .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .card .title {
        font-size: 20px;
        font-weight: 600;
    }

    .card .whom {
        background: #961f09;
        color: #f2f2f2;
        padding: 10px 20px;
        border-radius: 13px;
    }

    .card .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .card .link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #961f09;
        text-decoration: none;
    }

    .card .link img {
        width: 20px;
        padding: 0 5px;
    }
}
@media (max-width: 500px) {
    body {
        font-size: 9px;
    }
    #wish-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    .card {
        background: #f2f2f2;
        padding: 10px 20px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 9px;
        width: 140px;
        height: 200px;
    }

    .card.anny{
        border: 1px solid #8e1d3a;
    }
    .card.family{
        border: 1px solid #d78dff;
    }
    .card.dany{
        border: 1px solid #9862ff;
    }

    .card img {
        max-width: 120px;
        max-height: 145px;
        border-radius: 25px;
        padding: 10px;
    }

    .card .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .card .title {
        font-size: 10px;
        font-weight: 600;
    }

    .card .whom {
        display: none;
    }

    .card .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .card .link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #961f09;
        text-decoration: none;
    }

    .card .link img {
        width: 20px;
        padding: 0 5px;
    }
}