body{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.card{
    background: #f2f2f2;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 20px 0;
}
.card img{
    max-width: 300px;
    border-radius: 13px;
    padding: 10px;
}
.card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.card .title{
    font-size: 20px;
    font-weight: 600;
}
.card .whom{
    background: #961f09;
    color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 13px;
}

.card .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.card .link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #961f09;
    text-decoration: none;
}
.card .link img{
    width: 20px;
    padding: 0 5px;
}